<%- include('../../fragments/header.ejs') %>
       
        <main>
            <h2><%= __('question.form.edit.confirm.header') %></h2>
            <%= __('question.form.edit.confirm.text') %>
            
            <br><br>
            <a href="./" class="form-button-cancel"><%= __('form.actions.return') %></a>
        </main>
<%- include('../../fragments/footer.ejs') %>









