<%- include('../../fragments/header.ejs') %>

        <main>
                    <h2>Lista pytań</h2>
                    <table id=tabelka" class="table-list">
                        <tr>
                                            <th>Id</th>
                                            <th>Treść pytania</th>
                                            <th>Odpowiedź 1</th>
                                            <th>Odpowiedź 2</th>
                                            <th>Odpowiedź 3</th>
                                            <th>Poprawna odpowiedź</th>
                                            <th>Przedmiot</th>
                                            <th>Akcje</th>
                                        </tr>
                        <tbody>
                                    <% for (let question of questions) { %>
                                        <tr>
                                            <td><%= question._id %></td>
                                            <td><%= question.question %></td>
                                            <td><%= question.answer1 %></td>
                                            <td><%= question.answer2 %></td>
                                            <td><%= question.answer3 %></td>
                                            <td><%= question.correctAnswer %></td>
                                            <td><%= question.subject %></td>
                                            <td>
                                                <a href="../Pytanie/details/<%=question._id%>" class="list-actions-button-details">Szczegóły</a>
                                                <a href="../Pytanie/edit/<%=question._id%>" class="list-actions-button-edit">Edytuj</a>
                                                <a href="../Pytanie/delete/<%=question._id%>" class="list-actions-button-delete">Usuń</a>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <p><a href="/Pytanie/dodajPytanie" class="button-add">Dodaj nowe pytanie</a></p>
                </main>
<%- include('../../fragments/footer.ejs') %>