<%- include('../../fragments/header.ejs') %>

        <main>
                    <h2><%= __('question.list.pageTitle') %></h2>
                    <table id=tabelka" class="table-list">
                        <tr>
                                            <th><%= __('question.fields.id') %></th>
                                            <th><%= __('question.fields.questionsContent') %></th>
                                            <th><%= __('question.fields.answer1') %></th>
                                            <th><%= __('question.fields.answer2') %></th>
                                            <th><%= __('question.fields.answer3') %></th>
                                            <th><%= __('question.fields.correctAnswer') %></th>
                                            <th><%= __('question.fields.subject') %></th>
                                            <th><%= __('list.actions.title') %></th>
                                        </tr>
                        <tbody>
                                    <% for (let question of questions) { %>
                                        <tr>
                                            <td><%= question._id %></td>
                                            <td><%= question.question %></td>
                                            <td><%= question.answer1 %></td>
                                            <td><%= question.answer2 %></td>
                                            <td><%= question.answer3 %></td>
                                            <td><%= question.correctAnswer %></td>
                                            <td><%= question.subject %></td>
                                            <td>
                                                <a href="../Pytanie/details/<%=question._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                                                <a href="../Pytanie/edit/<%=question._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                                                <a href="../Pytanie/delete/<%=question._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <p><a href="/Pytanie/dodajPytanie" class="button-add"><%= __('question.list.addNew') %></a></p>
                </main>
<%- include('../../fragments/footer.ejs') %>