<%- include('../../fragments/header.ejs') %>

        <main>
            <h2>Lista osób egzaminowanych</h2>
            <table id=tabelka" class="table-list">
            <tr>
                                <th>Pesel</th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Kod uprawnienia</th>
                                <th>Akcje</th>
                            </tr>
            <tbody>
                        <% for (let person of persons) { %>
                            <tr>
                                <td><%= person.pesel %></td>
                                <td><%= person.firstName %></td>
                                <td><%= person.lastName %></td>
                                <td><%= person.permissionCode %></td>
                                <td>
                                    <a href="szczegółyOsoby/<%=person._id%>" class="list-actions-button-details">Szczegóły</a>
                                    <a href="edycjaOsobe/<%=person._id%>" class="list-actions-button-edit">Edytuj</a>
                                    <a href="PytaniePotwierdzUsunOsoby/<%=person._id%>" class="list-actions-button-delete">Usuń</a>
                                </td>
                            </tr>
                            <% } %>
            </tbody>
            </table>
            <p><a href="/Osoba/dodajOsobe" class="button-add">Dodaj nową osobę</a></p>
        
        </main>
<%- include('../../fragments/footer.ejs') %>

