 <%- include('../../fragments/header.ejs') %>
        <main>
            <h2><%= __('person.form.delete.confirm.header') %></h2>
            <%= __('person.form.delete.confirm.text') %>
            <br><br>
            
            <a href="/Osoba" class="form-button-cancel"><%= __('form.actions.return') %></a>
        </main>
 <%- include('../../fragments/footer.ejs') %>