<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationDodajOsobeForm.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate" onsubmit="return validateForm();"
 >


        <label for="pesel">PESEL:<span class="symbol-required">*</span></label>
        <input type="number" class="<%= validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel')) ? 'error-input' : '' %>" name="pesel" id="pesel" placeholder="11 znaków" value="<%= person.pesel %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>

        <span id="errorPesel" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel'))) { %>
                <%= validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel')).message %>
            <% } %>
        </span>

        <label for="firstName">Imię:<span class="symbol-required">*</span></label>
        <input type="text" class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>" name="firstName" id="firstName" placeholder="2-30 znaków" value="<%= person.firstName %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>


         <span id="errorName" class="errors-text">
                     <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                         <%= validationErrors.find(e => e.path.includes('firstName')).message %>
                     <% } %>
                </span>

        <label for="lastName">Nazwisko:<span class="symbol-required">*</span></label>
        <input type="text" class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>" name="lastName" id="lastName" placeholder="2-30 znaków" value="<%= person.lastName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorSurname" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>

        <label for="permissionCode">Poziom dostępu:<span class="symbol-required">*</span></label>
        <input type="number" class="<%= validationErrors.find(e => e.path.includes('permissionCode')) ? 'error-input' : '' %>" name="permissionCode" id="permissionCode" placeholder="1 znak" value="<%= person.permissionCode %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorPermissionCode" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('permissionCode'))) { %>
                <%= validationErrors.find(e => e.path.includes('permissionCode')).message %>
            <% } %>
        </span>

        <div id="allForm2" class="allErrors Errors"></div>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/Osoba/edit/<%= person.pesel %>" class="form-button-submit">Edytuj</a>
        </div>
        <% } %>

        <% if (formMode == 'showDetails') { %>
        <h2>
            Lista udzielonych odpowiedzi na egzaminach
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Pytanie</th>
                <th>Odpowiedz</th>
                <th>Godzina odpowiedzi</th>
                <th>Cos nowego</th>
            </tr>
            </thead>
            <tbody>
                    <% for (let odp of person.answers) { %>

                        <tr>
                            <td><a href="/Pytanie_egzamin/details/<%= odp._id %>"><%= odp.questionId %></a></td>
                            <td><%= odp.questionId %></td>
                            <td><%= odp.answerTime %></td>
                            <td><%= odp.answer %></td>
                        </tr>
                    <% } %>
            </tbody>
        </table>


        <% } %>



        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/Osoba">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/Osoba">Powrót</a>
            <% } %>
        </div>
        </form>
</main>
 <%- include('../../fragments/footer.ejs') %>