<%- include('../../fragments/header.ejs') %>

<main>
    <script type="application/javascript" src="/js/validationDodajOsobeForm.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();"
 >


        <label for="pesel"><%= __('person.fields.pesel') %>:<span class="symbol-required">*</span></label>
        <input type="number" class="<%= validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel')) ? 'error-input' : '' %>" name="pesel" id="pesel" placeholder="<%= __('person.fields.personPlaceholder11') %>" value="<%= person.pesel %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorPesel" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('PRIMARY') || e.path.includes('pesel')).message) %>
            <% } %>
        </span>
        <div style="display: none">
           <span id="pesel-required"><%= __('errors.noValue') %></span>
        </div>
        <div style="display: none">
           <span id="Lpesel-required"><%= __('errors.noValue') %></span>
        </div>

        <label for="firstName"><%= __('person.fields.name') %>:<span class="symbol-required">*</span></label>
        <input type="text" class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>" name="firstName" id="firstName" placeholder="<%= __('person.fields.personPlaceholder2') %>" value="<%= person.firstName %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorName" class="errors-text">
             <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('firstName')).message) %>
             <% } %>
        </span>
         <div style="display: none">
               <span id="name-required"><%= __('errors.noValue') %></span>
         </div>
         <div style="display: none">
               <span id="Lname-required"><%= __('errors.noValue') %></span>
         </div>

        <label for="lastName"><%= __('person.fields.surname') %>:<span class="symbol-required">*</span></label>
        <input type="text" class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>" name="lastName" id="lastName" placeholder="<%= __('person.fields.personPlaceholder2') %>" value="<%= person.lastName %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorSurname" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('lastName')).message) %>
            <% } %>
        </span>
         <div style="display: none">
              <span id="surname-required"><%= __('errors.noValue') %></span>
         </div>
         <div style="display: none">
              <span id="Lsurname-required"><%= __('errors.noValue') %></span>
         </div>

        <% //Elementy dotyczce pola password %>
        <label for="password"><%= __('login.pass') %>:<span class="symbol-required">*</span></label>
        <input type="password" class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>" name="password" id="password" placeholder="<%= __('person.fields.passPlaceholder') %>" value="<%= person.password %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorPassword" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('password')).message) %>
            <% } %>
        </span>
        <div style="display: none">
             <span id="password-required"><%= __('errors.noValue') %></span>
        </div>
        <div style="display: none">
             <span id="Lpassword-required"><%= __('errors.noValue') %></span>
        </div>

        <% //Elementy dotyczce pola permissionCode %>
        <label for="permissionCode"><%= __('person.fields.Access level') %>:<span class="symbol-required">*</span></label>
        <input type="number" class="<%= validationErrors.find(e => e.path.includes('permissionCode')) ? 'error-input' : '' %>" name="permissionCode" id="permissionCode" placeholder="<%= __('person.fields.personPlaceholder1') %>" value="<%= person.permissionCode %>"
        <%= (formMode == 'showDetails') ? 'disabled' : '' %>>
        <span id="errorPermissionCode" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('permissionCode'))) { %>
                <%= __(validationErrors.find(e => e.path.includes('permissionCode')).message) %>
            <% } %>
        </span>
         <div style="display: none">
                   <span id="accessLevel-required"><%= __('errors.noValue') %></span>
         </div>
         <div style="display: none">
                   <span id="LaccessLevel-required"><%= __('errors.noValue') %></span>
         </div>

        <div id="allForm2" class="allErrors Errors">  </div>

        <div style="display: none">
            <span id="general-required"><%= __('errors.gerror') %></span>
        </div>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/Osoba/edit/<%= person.pesel %>" class="form-button-submit"><%= __('form.actions.edit') %></a>
        </div>
        <% } %>

        <% if (formMode == 'showDetails') { %>
        <h2>
            <%= __('person.form.details.text') %>
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th><%= __('exam.form.details.table.question') %></th>
                <th><%= __('exam.form.details.table.answer') %></th>
                <th><%= __('exam.form.details.table.timeAnswer') %></th>
            </tr>
            </thead>
            <tbody>
                    <% for (let odp of person.answers) { %>

                        <tr>
                            <td><a href="/Pytanie_egzamin/details/<%= odp._id %>"><%= odp.questionId %></a></td>
                            <td><%= odp.questionId %></td>
                            <td><%= odp.answerTime %></td>
                            <td><%= odp.answer %></td>
                        </tr>
                    <% } %>
            </tbody>
        </table>


        <% } %>



        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= __('form.actions.save') %>" />
                <a class="form-button-cancel" href="/Osoba"><%= __('form.actions.cancel') %></a>
            <% } else { %>
                <a class="form-button-cancel" href="/Osoba"><%= __('form.actions.return') %></a>
            <% } %>
        </div>
        </form>
</main>
 <%- include('../../fragments/footer.ejs') %>