<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validation.DodajNowyEgzamin.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate >


        <input type="hidden" name="_id" id="_id" placeholder="" value="<%= exam._id %>"

            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <% console.log("EGZAMIN DATA: " + exam.examDate); %>
        <label for="examDate"><%= __('exam.fields.date') %>:<span class="symbol-required">*</span></label>


        <input type="date" class="<%= validationErrors.find(e => e.path.includes('examDate')) ? 'error-input' : '' %>" name="examDate" id="examDate" value="<%= fmt.formatDate(exam.examDate) %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorMyDate" class="errors-text">
             <% if (validationErrors.find(e => e.path.includes('examDate'))) { %>
                 <%= validationErrors.find(e => e.path.includes('examDate')).message %>
                 <% } %>
        </span>


        <label for="subject"><%= __('exam.fields.subject') %>:<span class="symbol-required">*</span></label>
        <input type="text" class="<%= validationErrors.find(e => e.path.includes('subject')) ? 'error-input' : '' %>" name="subject" id="subject" placeholder="<%= __('exam.fields.subjectPlaceholder') %>" value="<%= exam.subject %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorItem" class="errors-text">
             <% if (validationErrors.find(e => e.path.includes('subject'))) { %>
                 <%= validationErrors.find(e => e.path.includes('subject')).message %>
             <% } %>
        </span>

        <label for="startTime"><%= __('exam.fields.startTime') %>:<span class="symbol-required">*</span></label>
        <input type="time" class="<%= validationErrors.find(e => e.path.includes('startTime')) ? 'error-input' : '' %>" name="startTime" id="startTime" placeholder="5 znaków" value="<%= exam.startTime %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorStartTime" class="errors-text">
             <% if (validationErrors.find(e => e.path.includes('startTime'))) { %>
                 <%= validationErrors.find(e => e.path.includes('startTime')).message %>
             <% } %>
        </span>



        <label for="endTime"><%= __('exam.fields.endTime') %>:</label>
        <input type="time" name="endTime" id="endTime" placeholder="2-30 znaków" value="<%= exam.endTime %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>



        <label for="points"><%= __('exam.fields.points') %>:</label>
        <input type="number" class="<%= validationErrors.find(e => e.path.includes('points')) ? 'error-input' : '' %>" name="points" id="points" placeholder="<%= __('exam.fields.pointsPlaceholder') %>" value="<%= exam.points %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorPoints" class="errors-text">
             <% if (validationErrors.find(e => e.path.includes('points'))) { %>
                 <%= validationErrors.find(e => e.path.includes('points')).message %>
             <% } %>
        </span>

        <div id="allForm2" class="allErrors Errors"></div>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/Egzamin/edit/<%= exam._id %>" class="form-button-submit"><%= __('exam.form.details.btnLabel') %></a>
        </div>
        <% } %>

        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>
            <%= __('exam.form.details.text') %>
        </h2>
        <table clss="table-list">
            <thead>
            <tr>
                <th><%= __('exam.form.details.table.question') %></th>
                <th><%= __('exam.form.details.table.answer') %></th>
                <th><%= __('exam.form.details.table.timeAnswer') %></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= __('exam.form.edit.btnLabel') %> "/>
                <a class="form-button-cancel" href="/Egzamin"><%= __('form.actions.cancel') %></a>
            <% } else { %>
                <a class="form-button-cancel" href="/Egzamin"><%= __('exam.form.details.btnLabelP') %></a>
            <% } %>
        </div>
        </form>
</main>
 <%- include('../../fragments/footer.ejs') %>