<%- include('../../fragments/header.ejs') %>
<main>

    <form  id="formularz"  method="post" action="<%=formAction%>" novalidate class="form">
        <h2>Egzamin z przedmiotu: <%=qts[0].subject%></h2>
        <h4>Kandydat: <%=candidate.firstName + ' ' + candidate.lastName%></h4>
        <h4>Data: <%=new Date()%></h4>



        <% for (q of qts) { %>

        <hr>


        <p><strong><%= q.question %></strong><p>



        <label>&emsp;<input type="radio" name="answer1"><%= q.answer1 %></label>
        <label>&emsp;<input type="radio" name="answer2"><%= q.answer2 %></label>
        <label>&emsp;<input type="radio" name="answer3"><%= q.answer3 %></label>

        <% } %>

        <div class="form-buttons"> 
            <p id="errorSummary"></p>
        <input type="submit" value="Zakończ egzamin" class="form-button-submit">>

        <a href="/../Pytanie_egzamin" class="form-button-cancel">Powrót</a>
        </div>

    </form>
</main>
<%- include('../../fragments/footer.ejs') %>
