<%- include('../../fragments/header.ejs') %>
<main>
                    <h2>Lista udzielonych odpowiedzi na egzaminie przez osoby</h2>
                    <table id=tabelka" class="table-list">
                        <tr>
                                            <th>Id</th>
                                            <th>Id egzaminu</th>
                                            <th>Pytanie</th>
                                            <th>Odpowiedź</th>
                                            <th>Godzina odpowiedzi</th>
                                            <th>Pesel kandydate</th>
                                            <th>Akcje</th>
                                        </tr>
                        <tbody>
                                    <% for (let questionExam of questionExams) { %>
                                        <tr>

                                            <td><%= questionExam._id %></td>
                                            <td><%= questionExam.examId %></td>

                                            <% let a %>
                                            <% for (let q of allQuestions) { %>
                                                <% if (q._id == questionExam._id) {a=q; break;} %>
                                            <% } %>

                                            <td><%= a.question %></td>

                                            <% let answer %>
                                            <% if (questionExam.answer==1)  {answer = a.answer1;}
                                                else if(questionExam.answer==2)  {answer = a.answer2;}
                                                else if(questionExam.answer==3)  {answer = a.answer3;}
                                                else if(questionExam.answer==4)  {answer = a.correctAnswer;}
                                            %>



                                            <td><%= answer %></td>



                                            <td><%= questionExam.answerTime %></td>
                                            <td><%= questionExam.candidatePesel %></td>
                                            <td>
                                                <a href="../Pytanie_egzamin/details/<%=questionExam._id%>" class="list-actions-button-details">Szczegóły</a>
                                                <a href="../Pytanie_egzamin/edit/<%=questionExam._id%>" class="list-actions-button-edit">Edytuj</a>
                                                <a href="../Pytanie_egzamin/delete/<%=questionExam._id%>" class="list-actions-button-delete">Usuń</a>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <p><a href="/Pytanie_egzamin/wyborEgzaminu" class="button-add">Rozpocznij egzamin</a></p>
                </main>
<%- include('../../fragments/footer.ejs') %>

