<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationExamForm.js"></script>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">


        <label for="_id">Id:<span class="symbol-required">*</span></label>
        <input type="number" name="_id" id="_id" placeholder="" value="<%= exam._id %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>


        <label for="examDate">Data egzaminu:<span class="symbol-required">*</span></label>
        <input type="date" name="examDate" id="examDate" placeholder="2-30 znaków" value="<%= exam.examDate.toISOString().split('T')[0] %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <label for="subject">Przedmiot:<span class="symbol-required">*</span></label>
        <input type="text" name="subject" id="subject" placeholder="2-30 znaków" value="<%= exam.subject %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <label for="startTime">Godzina rozpoczęcia:<span class="symbol-required">*</span></label>
        <input type="time" name="startTime" id="startTime" placeholder="2-30 znaków" value="<%= exam.startTime %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <label for="endTime">Godzina zakońćzenia:<span class="symbol-required">*</span></label>
        <input type="time" name="endTime" id="endTime" placeholder="2-30 znaków" value="<%= exam.endTime %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <label for="points">Punkty do zdobycia:<span class="symbol-required">*</span></label>
        <input type="number" name="points" id="points" placeholder="1-2 znak" value="<%= exam.points %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>

        <% if (formMode == 'showDetails') { %>
        <div class="section-buttons">
            <a href="/Egzamin/edit/<%= exam._id %>" class="form-button-submit">Edytuj</a>
        </div>
        <% } %>

        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>
            Lista udzielonych odpowiedzi na egzaminach
        </h2>
        <table clss="table-list">
            <thead>
            <tr>
                <th>Pytanie</th>
                <th>Odpowiedz</th>
                <th>Godzina odpowiedzi</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a class="form-button-cancel" href="/Egzamin">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/Egzamin">Powrót</a>
            <% } %>
        </div>
        </form>
</main>
 <%- include('../../fragments/footer.ejs') %>