<%- include('../../fragments/header.ejs') %>
<main>
                    <h2><%= __('questionExam.list.pageTitle') %></h2>
                    <table id=tabelka" class="table-list">
                        <tr>
                                            <th><%= __('questionExam.fields.id') %></th>
                                            <th><%= __('questionExam.fields.examId') %></th>
                                            <th><%= __('questionExam.fields.question') %></th>
                                            <th><%= __('questionExam.fields.answer') %></th>
                                            <th><%= __('questionExam.fields.response time') %></th>
                                            <th><%= __('questionExam.fields.candidates pesel') %></th>
                                            <th><%= __('questionExam.fields.candidate') %></th>
                                            <th><%= __('list.actions.title') %></th>
                                        </tr>

                        <tbody>
                                    <% for (let questionExam of questionExams) { %>
                                        <tr>

                                            <td><%= questionExam._id %></td>
                                            <td><%= questionExam.examId %></td>

                                            <% let a %>
                                            <% for (let q of allQuestions) { %>
                                                <% if (q._id == questionExam.questionId) {a=q; break;} %>
                                            <% } %>

                                            <td><%= a.question %></td>

                                            <% let answer %>
                                            <% if (questionExam.answer==1)  {answer = a.answer1;}
                                                else if(questionExam.answer==2)  {answer = a.answer2;}
                                                else if(questionExam.answer==3)  {answer = a.answer3;}
                                                else if(questionExam.answer==4)  {answer = a.correctAnswer;}
                                            %>



                                            <td><%= answer %></td>



                                            <td><%= questionExam.answerTime %></td>
                                            <td><%= questionExam.candidatePesel %></td>


                                            <% let person %>
                                            <% for (let p of allPersons) { %>
                                            <% console.log('Sprawdzam ' + p.pesel + '/' + questionExam.candidatePesel); %>
                                            <% if (p.pesel == questionExam.candidatePesel) {person=p.firstName + ' ' + p.lastName; break;} %>
                                            <% } %>

                                            <td><%= person %></td>

                                            <td>
                                                <a href="../Pytanie_egzamin/details/<%=questionExam._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                                                <a href="../Pytanie_egzamin/edit/<%=questionExam._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                                                <a href="../Pytanie_egzamin/delete/<%=questionExam._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                                            </td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                    <p><a href="/Pytanie_egzamin/wyborEgzaminu" class="button-add"><%= __('questionExam.list.addNew') %></a></p>
                </main>
<%- include('../../fragments/footer.ejs') %>

